asgiref
astor
cachetools
catalogue
certifi
clang
click
cloudinary
colorama
cycler
cymem
Cython
debugpy
decorator
defusedxml
distlib
dj-database-url
Django
django-cors-headers
django-cloudinary-storage
django-heroku
django-jazzmin
djangorestframework
djangorestframework-simplejwt
emoji
entrypoints
Faker
filelock
Flask
Flask-Cors
flatbuffers
folium
gast
gensim
gitdb
GitPython
gunicorn
imageio
importlib-metadata
imutils
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonify
kiwisolver
langcodes
libclang
lxml
MarkupSafe
Pillow
psycopg2
psycopg2-binary
pyarrow
pyasn1
pyasn1-modules
pycosat
pydantic
pydeck
pydot
Pygments
PyJWT
pytz
qtconsole
QtPy
regex
requests-oauthlib
smmap
sqlparse
srsly
statsmodels
svgwrite
termcolor
toml
tzdata
validators
Werkzeug
whitenoise
wrapt
