<!-- Top Bar -->
<section id="top-bar" class="p-5 bg-dark text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-phone"></i> 9696969696996</div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> nexusglobal@gmail.com
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-pinterest"></i>
          </a>
    

    </div>
    
  </div>


</section>


<footer id="main-footer" class="py-1 bg-dark text-white text-center">
  Copyright &copy;
  <span class="year"></span> Nexus-Global
</footer>